{% extends "base.html" %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block body %}
    <h1 class="mb-4 text-center">Task Master</h1>

    <form action="/" method="POST" class="my-4 d-flex gap-2">
        <input type="text" name="content" id="content" class="form-control" placeholder="New task...">
        <input type="submit" value="Add task" class="btn btn-primary">
    </form>
    
    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Task</th>
                    <th>Added</th>
                    <th>Actions</th>
                </tr>

            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task['content'] }}</td>
                    <td>{{ task['date_created'].date() }}</td>
                    <td class="d-flex">
                        <a href="/update/{{task['_id']}}" class="btn btn-warning">Update</a>
                        <a href="/delete/{{task['_id']}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
